
canvas {
  display: block;
  margin: auto;
  padding: 10px;   
  /*  position :absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast
}

#game-canvas{
  max-width: 580px;
  max-height: 580px;
}
